# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
src/main/resources/
target/
.idea/dataSources.local.xml
.idea/dataSources/26b5ca6b-58d6-418d-9e82-f2e6826985b7/_src_/
.idea/dataSources/26b5ca6b-58d6-418d-9e82-f2e6826985b7/_staging_/
